.listing {
    border: 2px solid darkslategray;
    background-color: #44c4ff;
    border-radius: 10px;
    width: 70%;
    text-align: left;
}
aside {
    border: 2px solid;
    border-radius: 10px;
    width: 25%;
    padding: 1em;
    margin: 1em;
    text-align: center;
    float: right;
}


h2 {
    text-align: center;
}

table t {
    padding: 1em;
}

table th {
    padding: 1em;
}

p {
    border: 2px solid;
    border-radius: 10px;
    width: 25%;
    padding: 1em;
    text-align: center;
    margin-right: auto;
}

p a {
        color: #000;
}