/*

filename: [styles.css]

author: [All members]

created: [13/04/2026]

last modified: [19/04/2026]

description: [links to all html files in the project]

*/

/* styling for screen widths of a max of 4800px */
@media screen and (max-width: 300em) {

/* central styling */

/* styling for all content, specifies font family */
html {font-family: Arial, Helvetica, sans-serif;}

/* styling for the central header */
header {
    border: 5px solid black;
    border-radius: 40px;
    margin: 0.5em;
    margin-top: 1em;
    padding: 1em;
    background-color: #44c4ff;
    text-align: center;
    text-decoration-color: white;
    padding-bottom: 2.5em;
}

/* styling for all h1 tags */
h1 {
    font-size: 3em;
}

/* styling for all body tags, sets background colour */
body {background-color: lightblue;}

/* styling for the logo */
.logo {
    width: 10%;
    height: 10%;
}

/* styling for the buttons in the navigation bar */
nav a {
    border: 4px transparent;
    padding: 0.6em;
    background-color: lightblue;
    text-align: center;
    text-decoration: none;
    font-size: 1.4em;
    color: black;
    font-weight: bold;
    width: 10em;
    transition: 0.2s;
}

/* styling for the home button in the navigation bar */
nav a#home {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
/* styling for the about us button in the navigation bar */
nav a#about_us {
    border-right: 0.25em solid black;
    border-left: 0.25em solid black;
}
/* styling for the jobs button in the navigation bar */
nav a#jobs {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* styling for the central navigation bar */
nav {
    display: flex;
    justify-content: center;
    border: 4px solid black;
    border-radius: 25px;
    width: 25em;
    margin: auto;
}

/* styling for when hovering over the buttons in the navigation bar */
nav a:hover {
    background-color: #8ac5d8;
    transition: 0.2s;
}

/* end central styling */



/* apply page specific styling */

/* styling for the whole form element in apply.html */
form {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 25px;
    width: 70%;
    margin: auto;
    background-color: #44c4ff;
    padding-bottom: 1.25em;
}

/* styling for the form title */
#form_title {
    padding: 0.2em;
    font-size: 2.75em;
    font-weight: bold;
}

/* styling for the legend elements */
legend {
    font-weight: bold;
    font-size: 1.6em;
    border: 0.2em solid black;
    border-radius: 20px;
    padding: 0.1em;
    padding-left: 0.4em;
    padding-right: 0.4em;

}

/* styling for the fieldset elements and reference number box */
fieldset, #reference_number_box {
    border: 5px solid black;
    border-radius: 25px;
    margin: 0.5em;
    text-align: center;
    width: 80%;
    background-color: #44c4ff;
    padding: 0em;
}

/* more styling for the reference number box */
#reference_number_box {
    padding-top: 1.25em;
    padding-bottom: 1.5em;
}

/* styling for gender sub fieldset and skill list sub fieldset */
#gender_sub_fieldset, #skill_list_sub_fieldset {
    margin: auto;
    padding: 0.9375em;
    margin-bottom: 2.5em;
    width: 60%;
    padding-bottom: 2.4em;
}

/* more styling for gender sub fieldset */
#gender_sub_fieldset {
    width: 0%;
    padding-top: 0.25em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

/* styling for the input, textarea, and select elements */
input, textarea, select {
    background-color: lightblue;
    border: 4px solid black;
    padding: 0.3125em;
    border-radius: 10px;
    padding: 0.3125;
    padding-left: 0.625em;
    padding-right: 0.625em;
    font-size: 1.3em;
    transition: 0.2s;
}

textarea {
    width: 25em;
    height: 10em;
}

input:focus, textarea:focus, select:focus {
    background-color: #8ac5d8;
    transition: 0.2s;
}

.input_title {
    font-size: 1.3em;
    font-weight: bold;
}

.radio, .checkbox {
    background-color: lightblue;
    border: 4px solid black;
    border-radius: 10px;
    padding-left: 0.3125em;
    padding-right: 0.3125em;
    display: inline-block;
    width: 70%;
    margin: auto;
    text-align: left;
    margin-top: 0.625em;
    padding-bottom: 0.625em;
    padding-top: 0.3125em;
    font-size: 1.1em;
}

.radio {width: 10em;}

[type = "radio"], [type = "checkbox"] {
    width: 0.9em;
    height: 0.9em;
}

[type = "submit"]:hover, [type = "reset"]:hover {
    background-color: #8ac5d8;
    transition: 0.2s;
}

.input_field, textarea {margin-top: 0.625em;}

/* Style for jobs.html*/

#listing {
    border: 2px solid darkslategray;
    background-color: #44c4ff;
    border-radius: 10px;
    width: 70%;
    text-align: left;
}

#jobAside {
    border: 0.2em solid;
    border-radius: 2em;
    width: 25%;
    padding: 1em;
    margin: 1em;
    text-align: center;
    float: right;
}

#information {
    border: 0.2em solid;
    border-radius: 2em;
    width: 25%;
    padding: 1em;
    text-align: center;
    margin-right: auto;
}

#jobsh2 {
    text-align: center;
}

#joblistings th {
    padding: 1em;
}
/* end apply page specific styling */

/* index page specific syling */
.table {
    border: 0.0625em solid;
    border-collapse: collapse;
    padding: 0.625em;
}

.MainText{
    float:right;
    width: 57%;
}

.table, aside{
    margin-left: auto;
    margin-right: auto;    
}
/* end index page specific syling */
}



@media screen and (max-width: 100em) {

/* central styling */

h1 {font-size: 2.6em;}

nav a {font-size: 1.2em;}

nav {width: 23em;}

/* end central styling */

#form_title {
    font-size: 2.55em;
}

legend {
    font-weight: bold;
    font-size: 1.4em;
}

#gender_sub_fieldset {
    font-size: 0.9em;
}

input, textarea, select {
    font-size: 1.1em;
}

.input_title {
    font-size: 1.2em;
}

.radio, .checkbox {
    font-size: 1.05em;
}

textarea {
    width: 23em;
    height: 8em;
}

/* apply page specific styling */



/* end apply page specific styling */

/* index page specific syling */
.table {
    border: 0.0625em solid;
    border-collapse: collapse;
    padding: 0.625em;
}

.MainText{
    float:right;
    width: 57%;
}

.table, aside{
    margin-left: auto;
    margin-right: auto;    
}
/* end index page specific syling */
}

@media screen and (max-width: 50em) {

/* central styling */

h1 {
    font-size: 2.1em;
}

nav a {
    font-size: 1em;
}

nav {
    width: 19em;
}

/* end central styling */



/* apply page specific styling */

#form_title {
    font-size: 2.35em;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
}

#gender_sub_fieldset {
    font-size: 0.9em;
}

input, textarea, select {
    font-size: 0.9em;
}

.input_title {
    font-size: 1em;
}

.radio, .checkbox {
    font-size: 0.9em;
}

textarea {
    width: 15em;
    height: 6em;
}

/* end apply page specific styling */

/* index page specific syling */
.table {
    border: 0.0625em solid;
    border-collapse: collapse;
    padding: 0.625em;
}

.MainText{
    float:right;
    width: 57%;
}

.table, aside{
    margin-left: auto;
    margin-right: auto;    
}
/* end index page specific syling */
}

