/*

filename: [styles.css]

author: [All members]

created: [13/04/2026]

last modified: [14/04/2026]

description: [links to all html files in the project]

*/


html {font-family: Arial, Helvetica, sans-serif;}

header {
    border: 0.3em solid black;
    border-radius: 40px;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #44c4ff;
    text-align: center;
    text-decoration-color: white;
}

body {
  background-color: lightblue;
}



/* Apply page specific styling */

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 15px;
    width: 60%;
    margin: 0 auto;
    background-color: #44c4ff;   
}

fieldset {
    border: 5px solid black;
    border-radius: 15px;
    margin: 0.5em;
    background-color: white;
    text-align: center;
    width: 80%;
    background-color: #44c4ff;
}

legend {font-weight: bold;}

.form_p_element {
    padding: 15px;
}

input, textarea, select {
    background-color: lightblue;
    border: 3px solid #0085c2;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#form_title {
    padding: 5%;
    font-size: 1.5em;
}
